<!DOCTYPE html>
<html lang="en">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script src="/js/quiz_instructor.js"></script>
        <script src="/js/jquery.js"></script>
        <title><%= title %></title>
	</head>
	
    <body>
        <div id="quiz">
            <form>
                <% for (var i = 0; i < data.length; i++) { %>
                    <p>
                        <p> <input type="checkbox" value="<%= data[i].checkboxVal %>"> <span><%= i+1 %>) <%= data[i].question %></span> </p>

                            <label for="a_<%= i+1 %>"><input type="radio" id="a_<%= i+1 %>" name="answer<%= i+1 %>" value="<%= data[i].optionA %>">
                            <%= data[i].optionA %></label> <br>
                        
                            <label for="b_<%= i+1 %>"><input type="radio" id="b_<%= i+1 %>" name="answer<%= i+1 %>" value="<%= data[i].optionB %>">
                            <%= data[i].optionB %></label> <br>
                        
                            <label for="c_<%= i+1 %>"><input type="radio" id="c_<%= i+1 %>" name="answer<%= i+1 %>" value="<%= data[i].optionC %>">
                            <%= data[i].optionC %></label> <br>
                        
                            <label for="d_<%= i+1 %>"><input type="radio" id="d_<%= i+1 %>" name="answer<%= i+1 %>" value="<%= data[i].optionD %>">
                            <%= data[i].optionD %></label>

                            <input type="hidden" name="correct<%= i+1 %>" value="<%= data[i].correct %>">
                    </p>
                <% } %>
            </form>
        </div><hr>

        <div id="usedWords">
            <span>Used Words list</span>
            <ul>
                <% for (var i = 0; i < usedWords.length; i++) { %>
                    <li><%= usedWords[i] %></li> 
                <% } %>
            </ul>
        </div>
        <hr>
        <p> <span> Clicking the button will delete the selected questions from the server database. </span> <button type="button" id="delete">delete checked</button></p>
        
        <div>
            <span>If you want to add a word, enter it below and press the Add button.</span><br>
            <input type="text" id="addWord"> <button type="button" id="add">Add</button> <br><br>
            <span>* List to add *</span>
            <ul id="wordList">
            </ul>
            <button type="button" id="create">Create quiz question with added words</button>
        </div>
	</body>
</html>