<!DOCTYPE html>
<html>
	<head>
        <script src="/quiz.js"></script>
	</head>
	<body>
        <% for (var i = 0; i < data.length; i++) { %>
            <h2> <%= data[i].question %> </h2>
            <ul>
                <li>
                    <input type="radio" value="<%= data[i].optionA %>">
                    <%= data[i].optionA %>
                </li>
                <li>
                    <input type="radio">
                    <%= data[i].optionB %>
                </li>
                <li>
                    <input type="radio">
                    <%= data[i].optionC %>
                </li>
                <li>
                    <input type="radio">
                    <%= data[i].optionD %>
                </li>
            </ul>
        <% } %>
        <button id="test">submit</button>
       
	</body>
</html>
